@page "{id:int}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MVCRealEstate.Models
@model MVCRealEstate.Pages.admin.offers.DetailModel
@{
	ViewData["Title"] = "Détail de l'offre";
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<div class="container">
	<h1 class="mb-4 text-primary">@Model.Offer.Reference</h1>
	
	<div class="row" style="margin-bottom:20px;display:flex">
		<div class="col-md-8"></div>
		<div class="col-md-4" style="display:flex;flex-direction:row;align-items:center;justify-content:space-between">
			<a asp-page="./Edit" asp-route-id="@Model.Offer.OfferId" class="btn btn-primary mr-2">Modifier</a>

			<form method="post" asp-page-handler="Delete" asp-route-id="@Model.Offer.OfferId" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette offre?');">
				<button type="submit" class="btn btn-danger">Supprimer</button>
			</form>
			<a asp-page="./Index" class="btn btn-secondary mr-2">Retour à la liste</a>
		</div>
	</div>
	
	<div style="display:flex;flex-direction:column;gap:20px;">
		<div>
			<div class="text-center" style="display:flex;flex-direction:row;gap:10px;flex-wrap:wrap;">
				@foreach (var media in Model.OfferMedias)
				{
					<img src="~/@media.Path" class="img-fluid mb-3" alt="" style="width:fit-content;height:200px;object-fit:contain;">
				}
			</div>
		</div>
		<div>
			<h3>Informations</h3>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><strong>Type:</strong> @Model.Offer.Type</li>
				<li class="list-group-item"><strong>Prix:</strong> @Model.Offer.Price</li>
				<li class="list-group-item"><strong>Surface:</strong> @Model.Offer.Surface</li>
				<li class="list-group-item"><strong>Location:</strong> @Model.Offer.Location?.Address</li>
				<li class="list-group-item"><strong>Description:</strong> @Model.Offer.Description</li>
				<li class="list-group-item"><strong>Créé le:</strong> @Model.Offer.CreatedAt.ToString("dd/MM/yyyy HH:mm")</li>
			</ul>
			<h3>Localisation</h3>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><strong>Ville:</strong> @Model.Offer.Location.City</li>
				<li class="list-group-item"><strong>Adresse:</strong> @Model.Offer.Location.Address</li>
			</ul>
			<h3>Propriétaire</h3>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><strong>Nom:</strong> @Model.Offer.OwnerInfo.FirstName @Model.Offer.OwnerInfo.LastName</li>
				<li class="list-group-item"><strong>Email:</strong> @Model.Offer.OwnerInfo.Email</li>
				<li class="list-group-item">
					<strong>Téléphone(s):</strong>@foreach (var phone in Model.Offer.OwnerInfo.Phones)
					{
						<div>@phone</div>
					}
				</li>
			</ul>
			
		</div>
	</div>
</div>