@page "{id:int}"
@using MVCRealEstate.Models
@model MVCRealEstate.Pages.admin.offers.EditModel
@{
    ViewData["Title"] = "Modifier l'Offre";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Modifier l'Offre</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Offer.OfferId">Id</label>
        <input asp-for="Offer.OfferId" class="form-control" disbaled="true"/>
        <span asp-validation-for="Offer.OfferId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Offer.Reference">Reference</label>
        <input asp-for="Offer.Reference" class="form-control" />
        <span asp-validation-for="Offer.Reference" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Offer.Type">Type</label>
        <select asp-for="Offer.Type" class="form-control">
            <option value="">Sélectionnez le type</option>
            @foreach (var type in Enum.GetValues(typeof(OfferType)))
            {
                <option value="@type">@type</option>
            }
        </select>
        <span asp-validation-for="Offer.Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Offer.LocationId">Localisation</label>
        <select asp-for="Offer.LocationId" class="form-control">
            <option value="">Sélectionnez la localisation</option>
            @foreach (var location in Model.Locations)
            {
                <option value="@location.LocationId">@location.Address</option>
            }
        </select>
        <span asp-validation-for="Offer.LocationId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Offer.Price">Prix</label>
        <input asp-for="Offer.Price" class="form-control" />
        <span asp-validation-for="Offer.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Offer.Surface">Dimensions</label>
        <input asp-for="Offer.Surface" class="form-control" />
        <span asp-validation-for="Offer.Surface" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Offer.Description">Description</label>
        <textarea asp-for="Offer.Description" class="form-control"></textarea>
        <span asp-validation-for="Offer.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Offer.RentOrSale">Vente/Location</label>
        <select asp-for="Offer.RentOrSale" class="form-control">
            <option value="">Sélectionnez l'option</option>
            @foreach (var rentOrSale in Enum.GetValues(typeof(RentOrSale)))
            {
                <option value="@rentOrSale">@rentOrSale</option>
            }
        </select>
        <span asp-validation-for="Offer.RentOrSale" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Images actuelles:</label>
        <br />
        <div class="text-center" style="display:flex;flex-direction:row;gap:10px;flex-wrap:wrap;">
            @foreach (var media in Model.OfferMedias)
            {
                <img src="~/@media.Path" class="img-fluid mb-3" alt="" style="width:fit-content;height:200px;object-fit:contain;">
            }
        </div>
        <br />
        <label>Nouvelles images:</label>
        <div class="form-group">
            <label for="offerMediaFiles">Upload Media</label>
            <input type="file" id="OfferMediaFiles" name="OfferMediaFiles" class="form-control" multiple />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a asp-page="./Detail" asp-route-id="@Model.Offer.OfferId" class="btn btn-secondary">Annuler</a>
</form>
