@model MVCRealEstate.Models.OfferDetailsViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{
	ViewData["Title"] = "Details";
}

@functions {
	public string GetAntiXsrfRequestToken()
	{
		return Xsrf.GetAndStoreTokens(Context).RequestToken;
	}
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/offer-detail.js"></script>
<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="~/css/offer-detail.css" />
<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="~/lib/animate/animate.min.css" rel="stylesheet">
<link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<div>
	<a asp-action="Edit" asp-route-id="@Model?.Offer?.OfferId">Edit</a> |
</div>

<section class="intro-single" style="padding: 10px 0">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<div class="title-single-box">
					<h1 class="title-single">@Html.DisplayNameFor(model => model.Offer.Reference)</h1>
					<span class="color-text-a">@Html.DisplayFor(model => model.Offer.Location.Address)</span>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a asp-action="Index">Retourner à la liste</a>
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>

<section class="property-single nav-arrow-b">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
					<div class="carousel-item-b">
						<img src="~/medias/sample.jpg" alt="">
					</div>
					<div class="carousel-item-b">
						<img src="~/medias/sample.jpg" alt="">
					</div>
					<div class="carousel-item-b">
						<img src="~/medias/sample.jpg" alt="">
					</div>
				</div>
				<div class="row justify-content-between">
					<div class="col-md-5 col-lg-4">
						<div class="property-price d-flex justify-content-center foo">
							<div class="card-header-c d-flex">
								<div class="card-box-ico">
									<span class="ion-money">@Html.DisplayFor(model => model.Offer.Price)</span>
								</div>
								<div class="card-title-c align-self-center">
									<h5 class="title-c">Ar</h5>
								</div>
							</div>
						</div>
						<div class="property-summary">
							<div class="row">
								<div class="col-sm-12">
									<div class="title-box-d section-t4">
										<h3 class="title-d">A propos</h3>
									</div>
								</div>
							</div>
							<div class="summary-list">
								<ul class="list">
									<li class="d-flex justify-content-between">
										<strong>Reference:</strong>
										<span>@Html.DisplayNameFor(model => model.Offer.Reference)</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Type:</strong>
										<span>@Html.DisplayNameFor(model => model.Offer.RentOrSale)</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Adresse:</strong>
										<span>@Html.DisplayNameFor(model => model.Offer.Location.Address)</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Ville:</strong>
										<span>@Html.DisplayNameFor(model => model.Offer.Location.City)</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Surface:</strong>
										<span>@Html.DisplayNameFor(model => model.Offer.Surface)</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Vendeur / Loueur:</strong>
										<span>
											@Html.DisplayNameFor(model => model.Offer.OwnerInfo.FullName)
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-7 col-lg-7 section-md-t3">
						<div class="row">
							<div class="col-sm-12">
								<div class="title-box-d">
									<h3 class="title-d">Description</h3>
								</div>
							</div>
						</div>
						<div class="property-description">
							<p class="description color-text-a">
								@Html.DisplayFor(model => model.Offer.Description)
							</p>
						</div>
						<div class="row section-t3">
							<div class="col-sm-12">
								<div class="title-box-d">
									<h3 class="title-d">Agence</h3>
								</div>
							</div>
						</div>
						<div class="amenities-list color-text-a">
							<ul class="list-a no-margin">
								<li>Balcony</li>
								<li>Outdoor Kitchen</li>
								<li>Cable Tv</li>
								<li>Deck</li>
								<li>Tennis Courts</li>
								<li>Internet</li>
								<li>Parking</li>
								<li>Sun Room</li>
								<li>Concrete Flooring</li>
							</ul>
						</div>
					</div>
					<div class="col-md-10 offset-md-1">
						<ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab"
								   aria-controls="pills-video" aria-selected="true">Localisation</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
								<iframe src="https://player.vimeo.com/video/73221098" width="100%" height="460" frameborder="0"
										webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>


<div class="detail-container">
	<div class="header">
		<div class="title">@Html.DisplayNameFor(model => model.Offer.Reference)</div>
		<div>@Html.DisplayNameFor(model => model.Offer.RentOrSale)</div>
	</div>
	<div class="carousel">
		<img src="~/medias/sample.jpg" alt="">
	</div>
	<div class="sections">
		<div class="left">
			<h1>A propos</h1>
			<div class="info-section">
				<h3>Informations</h3>
				<div>@Html.DisplayFor(model => model.Offer.Location.City) - @Html.DisplayFor(model => model.Offer.Location.Address)</div>
				<div>@Html.DisplayFor(model => model.Offer.Price)</div>
				<div>@Html.DisplayFor(model => model.Offer.Surface)</div>
				<div>@Html.DisplayFor(model => model.Offer.CreatedAt)</div>
				<div>@Html.DisplayFor(model => model.Offer.Description)</div>
			</div>
			<div class="info-section">
				<h3>Agence</h3>
				<div>@Html.DisplayFor(model => model.Offer.Agency.Name)</div>
				<div>@Html.DisplayFor(model => model.Offer.Agency.Email)</div>
				<div>@Html.DisplayFor(model => model.Offer.Agency.Phones)</div>
			</div>
			<div class="info-section">
				<h3>Propriétaire</h3>
				<div class="card">
					<div>@Html.DisplayFor(model => model.Offer.OwnerInfo.FullName)</div>
					<div>@Html.DisplayFor(model => model.Offer.OwnerInfo.Email)</div>
					<div>@Html.DisplayFor(model => model.Offer.OwnerInfo.Phones)</div>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="actions">
				<h3>Prendre rendez-vous pour une visite</h3>
				<div class="appointments">
					@foreach (var appointment in Model.Appointments)
					{
						<div class="appointment" data-id="@appointment.AppointmentId">
							@appointment.Period.ToString("dd MMMM yyyy HH:mm")
						</div>
					}

				</div>
				<button id="bookButton" style="display:none;">Réserver	</button>
			</div>
			<div class="actions messages-block">
				<h3>Echanges</h3>
				<div class="messages"></div>
			</div>
		</div>
	</div>
</div>

<!-- Your confirmation modal here -->
<div id="confirmationModal" style="display:none;">
	<!-- Modal content goes here -->
	<p>Are you sure you want to book this appointment?</p>
	<button id="confirmBooking">Yes</button>
	<button id="cancelBooking">Cancel</button>
</div>


