@model MVCRealEstate.Models.OfferDetailsViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{
	ViewData["Title"] = "Details";
}

@functions {
	public string GetAntiXsrfRequestToken()
	{
		return Xsrf.GetAndStoreTokens(Context).RequestToken;
	}
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/offer-detail.js"></script>

<link rel="stylesheet" href="~/css/offer-detail.css" />

<h1>Details</h1>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Offer?.OfferId">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
<div class="detail-container">
	<div class="header">
		<div class="title">@Html.DisplayNameFor(model => model.Offer.Reference)</div>
		<div>@Html.DisplayNameFor(model => model.Offer.RentOrSale)</div>
	</div>
	<div class="carousel">
		<img src="~/medias/sample.jpg" alt="">
	</div>
	<div class="sections">
		<div class="left">
			<h1>A propos</h1>
			<div class="info-section">
				<h3>Informations</h3>
				<div>@Html.DisplayFor(model => model.Offer.Location.City) - @Html.DisplayFor(model => model.Offer.Location.Address)</div>
				<div>@Html.DisplayFor(model => model.Offer.Price)</div>
				<div>@Html.DisplayFor(model => model.Offer.Surface)</div>
				<div>@Html.DisplayFor(model => model.Offer.CreatedAt)</div>
				<div>@Html.DisplayFor(model => model.Offer.Description)</div>
			</div>
			<div class="info-section">
				<h3>Agence</h3>
				<div>@Html.DisplayFor(model => model.Offer.Agency.Name)</div>
				<div>@Html.DisplayFor(model => model.Offer.Agency.Email)</div>
				<div>@Html.DisplayFor(model => model.Offer.Agency.Phones)</div>
			</div>
			<div class="info-section">
				<h3>Propriétaire</h3>
				<div class="card">
					<div>@Html.DisplayFor(model => model.Offer.OwnerInfo.FullName)</div>
					<div>@Html.DisplayFor(model => model.Offer.OwnerInfo.Email)</div>
					<div>@Html.DisplayFor(model => model.Offer.OwnerInfo.Phones)</div>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="actions">
				<h3>Prendre rendez-vous pour une visite</h3>
				<div class="appointments">
					@foreach (var appointment in Model.Appointments)
					{
						<div class="appointment" data-id="@appointment.AppointmentId">
							@appointment.Period.ToString("dd MMMM yyyy HH:mm")
						</div>
					}

				</div>
				<button id="bookButton" style="display:none;">Réserver	</button>
			</div>
			<div class="actions messages-block">
				<h3>Echanges</h3>
				<div class="messages"></div>
			</div>
		</div>
	</div>
</div>

<!-- Your confirmation modal here -->
<div id="confirmationModal" style="display:none;">
	<!-- Modal content goes here -->
	<p>Are you sure you want to book this appointment?</p>
	<button id="confirmBooking">Yes</button>
	<button id="cancelBooking">Cancel</button>
</div>


