@model MVCRealEstate.Models.OfferDetailsViewModel

@{
	ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/offer-detail.css" />

<h1>Details</h1>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Offer?.OfferId">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
<div class="detail-container">
	<div class="header">
		<div class="title">@Html.DisplayNameFor(model => model.Offer.Reference)</div>
		<div>@Html.DisplayNameFor(model => model.Offer.RentOrSale)</div>
	</div>
	<div class="carousel"></div>
	<div class="sections">
		<div class="left">
			<h1>A propos</h1>
			<div class="info-section">
				<h3>Informations</h3>
				<div>@Html.DisplayFor(model => model.Offer.Location.City) - @Html.DisplayFor(model => model.Offer.Location.Address)</div>
				<div>@Html.DisplayFor(model => model.Offer.Price)</div>
				<div>@Html.DisplayFor(model => model.Offer.Surface)</div>
				<div>@Html.DisplayFor(model => model.Offer.CreatedAt)</div>
				<div>@Html.DisplayFor(model => model.Offer.Description)</div>
			</div>
			<div class="info-section">
				<h3>Agence</h3>
				<div>@Html.DisplayFor(model => model.Offer.Agency.Name)</div>
				<div>@Html.DisplayFor(model => model.Offer.Agency.Email)</div>
				<div>@Html.DisplayFor(model => model.Offer.Agency.Phones)</div>
			</div>
			<div class="info-section">
				<h3>Propriétaire</h3>
				<div class="card">
				</div>
			</div>
		</div>
		<div class="right">
			<div class="actions">
				<h3>Prendre rendez-vous pour une visite</h3>
				<div class="appointments">
					<div class="appointment-block">
						@foreach (var appointment in Model.Appointments)
						{
							<div class="appointment">
								@appointment.Period.ToString("yyyy-MM-dd HH:mm")
							</div>
						}
					</div>
				</div>
			</div>
			<div class="actions messages-block">
				<h3>Echanges</h3>
				<div class="messages"></div>
			</div>
		</div>
	</div>
</div>