@model IEnumerable<MVCRealEstate.Models.Offer>

@{
	ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/offer.css" />

<h1>Acheter ou louer</h1>

<div>
	<a asp-action="Create">Create New</a>
</div>

<form class="search-bar" asp-controller="Offers" asp-action="Index">
	<input type="text" name="search" class="form-control" />
	<input type="submit" value="Rechercher" />
</form>
<div class="container">
	@foreach (var item in Model)
	{
		<div class="card">
			<div class="medias"></div>
			<div class="rows">
				<div class="first">
					<a class="title" asp-action="Details" asp-route-id="@item.OfferId">@Html.DisplayFor(modelItem => item.Reference) - @Html.DisplayFor(modelItem => item.Type)</a>
					<div><span>Prix</span> : @Html.DisplayFor(modelItem => item.Price) Ar</div>
				</div>
				<div class="second">
					<span></span>
					<div> <span>Surface : </span> @Html.DisplayFor(modelItem => item.Surface)</div>
					<div>@Html.DisplayFor(modelItem => item.Description)</div>
				</div>
				<div class="third">
					<div> <span>Surface : </span> @Html.DisplayFor(modelItem => item.Location.City) - @Html.DisplayFor(modelItem => item.Location.Address)</div>
					<div>@Html.DisplayFor(modelItem => item.ReverseRanking)</div>
				</div>
			</div>
		</div>
	}
</div>