@model IEnumerable<MVCRealEstate.Models.Offer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferMediaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReverseRanking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentOrSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferMediaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReverseRanking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentOrSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agency.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerInfo.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfferId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfferId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfferId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
