@page
@model MVCRealEstate.Pages.admin.locations.DetailModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Detail de l'adresse";
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-danger">
		@Model.ErrorMessage
	</div>
}
<div class="row" style="margin-bottom:20px;display:flex">
	<div class="col-md-8"></div>
	<div class="col-md-4" style="display:flex;flex-direction:row;align-items:center;justify-content:space-between">
		<a asp-page="./Index" class="btn btn-secondary">Retour à la liste</a>
		<a asp-page="./Edit" asp-route-id="@Model.Location.LocationId" class="btn btn-primary">Modifier</a>
		<!-- Bouton de suppression -->
		<form method="post" asp-page-handler="Delete" asp-route-id="@Model.Location.LocationId" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette adresse?');">
			<button type="submit" class="btn btn-danger">Supprimer</button>
		</form>
	</div>
</div>
<div class="col-md-12">
	<div id="map-detail" style="width:100%; height:500px">
	</div>
</div>

@section Scripts {
	<!-- Inclusion de Leaflet.js via CDN -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

	<script>
		var map = L.map('map-detail').setView([@Model.Location.latitude, @Model.Location.longitude], 13);

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		L.marker([@Model.Location.latitude, @Model.Location.longitude]).addTo(map)
			.bindPopup('<b>Adresse:</b> @Model.Location.Address<br><b>Ville:</b> @Model.Location.City')
			.openPopup();
	</script>
}
