@page "{current:int?}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MVCRealEstate.Pages.admin.locations.IndexModel
@{
	ViewData["Title"] = "Liste des Adresses";
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<style>
    .file-upload {
        position: relative;
		cursor: pointer;
        display: inline-block;
    }
    .file-upload input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .file-upload-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
    }
</style>

<script>
	function handleFileSelect(event) {
		event.preventDefault();
		document.getElementById('file-form').submit();
	}

	document.addEventListener('DOMContentLoaded', function () {
		var fileInput = document.getElementById('csvFile');
		fileInput.addEventListener('change', handleFileSelect);
	});
</script>

<div class="col-md-12">
	<div class="card">
		<div class="header" style="
			display: flex;
			align-items: center;
			justify-content: space-between;
			">
			<h4 class="title">Liste des adresses</h4>
			<div class="category" style="
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
">
				<a asp-page="./Create" class="btn btn-primary">Ajouter</a>
				<form asp-page-handler="ImportCSV" method="post" enctype="multipart/form-data" id="file-form">
					<div class="form-group file-upload" style="margin-bottom:0px;">
						<label class="btn btn-primary" for="csvFile">Importer CSV</label>
						<input type="file" id="csvFile" name="csvFile" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
		<div class="content table-responsive table-full-width">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Adresse</th>
						<th>Ville</th>
						<th>Longitude</th>
						<th>Latitude</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var location in Model.Locations)
					{
						<tr>
							<td>@location.Address</td>
							<td>@location.City</td>
							<td>@location.longitude</td>
							<td>@location.latitude</td>
							<td>
								<a asp-page="./Detail" asp-route-id="@location.LocationId" class="btn btn-primary">Voir</a>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<!-- Pagination -->
			<nav aria-label="Page navigation" style="display:flex;flex-direction:column;align-items:center">
				<ul class="pagination justify-content-center">
					<li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
						<a class="page-link" asp-page="./Index" asp-route-current="1">&laquo;</a>
					</li>
					@for (int i = 1; i <= Model.TotalPages; i++)
					{
						<li class="page-item @(Model.PageIndex == i ? "active" : "")">
							<a class="page-link" asp-page="./Index" asp-route-current="@i">@i</a>
						</li>
					}
					<li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
						<a class="page-link" asp-page="./Index" asp-route-current="@Model.TotalPages">&raquo;</a>
					</li>
				</ul>
			</nav>

		</div>
	</div>
</div>