@{
	ViewData["Title"] = "Home";
}

<div class="intro" style="background-image: url(/medias/slide-3.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="intro-body">
					<p class="intro-title-top">
					</p>
					<h1 class="intro-title mb-4">
						<span class="color-b">Des maisons </span>  de qualité
						<br> pour chaque style de vie
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section-services section-t8">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-wrap d-flex justify-content-between">
					<div class="title-box">
						<h2 class="title-a">Nos services</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card-box-c foo">
					<div class="card-header-c d-flex">
						<div class="card-box-ico">
							<span class="fa fa-tags" style="color: #2eca6a;"></span>
						</div>
						<div class="card-title-c align-self-center">
							<h2 class="title-c">Achat de Propriétés</h2>
						</div>
					</div>
					<div class="card-body-c">
						<p class="content-c">
							Découvrez notre vaste sélection de maisons, appartements et propriétés de luxe. Nos experts sont là pour vous aider à chaque étape, depuis la recherche initiale jusqu'à la signature finale.
						</p>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-box-c foo">
					<div class="card-header-c d-flex">
						<div class="card-box-ico">
							<span class="fa fa-usd" style="color: #2eca6a;"></span>
						</div>
						<div class="card-title-c align-self-center">
							<h2 class="title-c">Vente de Propriétés</h2>
						</div>
					</div>
					<div class="card-body-c">
						<p class="content-c">
							Confiez-nous la vente de votre propriété et bénéficiez de notre expertise pour obtenir le meilleur prix.
						</p>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-box-c foo">
					<div class="card-header-c d-flex">
						<div class="card-box-ico">
							<span class="fa fa-home" style="color: #2eca6a;"></span>
						</div>
						<div class="card-title-c align-self-center">
							<h2 class="title-c">Location de Propriétés</h2>
						</div>
					</div>
					<div class="card-body-c">
						<p class="content-c">
							Que vous cherchiez à louer une maison, un appartement ou une propriété de luxe, nous avons ce qu'il vous faut.
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-property section-t8">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-wrap d-flex justify-content-between">
					<div class="title-box">
						<h2 class="title-a">Les dernières offres</h2>
					</div>
					<div class="title-link">
						<a  asp-controller="Offers"  asp-action="Index">
							Toutes les offres
							<span class="ion-ios-arrow-forward"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="latest" style="
				 display: flex;
				 gap: 5%;
						 ">
			@foreach (var item in ViewData["Offers"] as List<Offer>)
			{
				<div class="carousel-item-b">
					<div class="card-box-a card-shadow" style="
				 width: 100%;
				 height: 500px;
						 ">
						<div class="img-box-a">
							<img src="~/medias/property-1.jpg" alt="" class="img-a img-fluid">
						</div>
						<div class="card-overlay">
							<div class="card-overlay-a-content">
								<div class="card-header-a">
									<h2 class="card-title-a">
										<a href="property-single.html">
											@item.Reference
											<br />@item.Location.City
										</a>
									</h2>
								</div>
								<div class="card-body-a">
									<div class="price-box d-flex">
										<span class="price-a">@item.Type | @item.Price Ar</span>
									</div>
									<a asp-controller="Offers" asp-action="Details" asp-route-id="@item.OfferId" class="link-a">
										Voir les details
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</div>
								<div class="card-footer-a">
									<ul class="card-info d-flex justify-content-around">
										<li>
											<h4 class="card-info-title">Surface</h4>
											<span>
												@item.Surface
												<sup>2</sup>
											</span>
										</li>
										<li>
											<h4 class="card-info-title">Garages</h4>
											<span>1</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>

</section>
